<header>
  <div class="container-fluid">
    <div class="row">
      <!-- Header image -->
      <div class ="header-image"></div>
      <!-- Text and logo -->
      <div class="text-center logo">
        <img src="img/white_flower.png" class="plant">
        <h1 class="commongarden">COMMON GARDEN</h1>
        <h4 class="commongarden">Open technology and knowledge for the next agricultural revolution.</h4>
<!--         <a href="#alpha-demo" class="btn btn-default btn-outline"><i class="fa fa-play"></i> &nbsp; Watch Demo</a>
        <a href="./docs/install" class="btn btn-default btn-outline"><i class="fa fa-download"></i> &nbsp; Install Grow</a> -->
      </div>
    </div>
    <div class="col-lg-12 content hidden-xs text-center">
      <ul class="nav nav-justified">
        <li role="presentation"><a href="#contact">Contact</a></li>
        <li role="presentation"><a href="https://github.com/CommonGarden/Grow-IoT">Code</a></li>
        <li role="presentation"><a href="http://forum.commongarden.org">Forum</a></li>
        <li role="presentation"><a href="https://grow.commongarden.org">Login</a></li>
      </ul>
    </div>
  </div>
  <a href="https://github.com/CommonGarden/Grow-IoT"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
 </header>