<header>
  <div class="container-fluid">
    <div class="row">
      <!-- Header image -->
      <div class ="header-image"></div>
      <!-- Text and logo -->
      <div class="text-center logo">
        <img src="img/white_flower.png" class="plant">
        <h1 class="commongarden">COMMON GARDEN</h1>
        <h4 class="commongarden">Software and automation for Growers of all kinds</h4>

        <div class="social">
          <iframe src="https://ghbtns.com/github-btn.html?user=CommonGarden&repo=Grow-IoT&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px" style="margin-right:-35px;"></iframe>

          <iframe src="https://ghbtns.com/github-btn.html?user=CommonGarden&repo=Grow-IoT&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>

          <!-- <a href="https://gitter.im/CommonGarden/Grow-IoT?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge" style="position: relative; bottom: 11px; left: -35px;"><img src="https://camo.githubusercontent.com/dbc99525f066867427942a9b1591c04c0a9e5119/68747470733a2f2f6261646765732e6769747465722e696d2f436f6d6d6f6e47617264656e2f47726f772d496f542e737667" alt="Join the chat at https://gitter.im/CommonGarden/Grow-IoT" data-canonical-src="https://badges.gitter.im/CommonGarden/Grow-IoT.svg" style="height: 26px;"></a> -->
        </div>

<!--         <a href="#alpha-demo" class="btn btn-default btn-outline"><i class="fa fa-play"></i> &nbsp; Watch Demo</a>
        <a href="./docs/install" class="btn btn-default btn-outline"><i class="fa fa-download"></i> &nbsp; Install Grow</a> -->
      </div>
    </div>
<!--     <div class="col-lg-12 content hidden-xs text-center">
      <ul class="nav nav-justified"> -->
        <!-- <li role="presentation"><a href="#contact">Contact</a></li> -->
<!--         <li role="presentation"><a href="https://github.com/CommonGarden/Grow-IoT">Grow-IoT</a></li>
        <li role="presentation"><a href="https://github.com/CommonGarden/Grow.js">Grow.js</a></li>
        <li role="presentation"><a href="https://github.com/CommonGarden/Thing.js">Thing.js</a></li>
      </ul> -->
    <!-- </div> -->
  </div>
 </header>