//// Header
html {
  height: 100%;

  body {
    height: 100%;
    background-color: #fff;
    font-family: $base-font-family;
    font-weight: 300;
    color: white;

    a {
      color: white;
      text-decoration: underline;
    }

    .header-image {
      background-size: cover;
      background-image: url("/img/header.jpg"); /* fallback */
      background-image: -webkit-gradient(linear, left top, left bottom, from($background-color), to($background-color2)), url("/img/header.jpg"); /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, $background-color, $background-color2), url("/img/header.jpg"); /* Chrome 10+, Saf5.1+ */
      background-image: -moz-linear-gradient(top, $background-color, $background-color2), url("/img/header.jpg"); /* FF3.6+ */
      background-image: -o-linear-gradient(top, $background-color, $background-color2), url("/img/header.jpg"); /* Opera 11.10+ */
      background-image: linear-gradient(to bottom, $background-color, $background-color2), url("/img/header.jpg"); /* W3C */
      z-index: -3;
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      // z-index: -100;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
    }
  }
}

.content {
  position: relative;
  top: -330px;
}

.logo {
  margin-top: 3em;

  .plant {
    max-width: 150px;
  }

  .commongarden {
    color: #ffffff;
  }
}

//// Forms
// input {
//   &.transparent-form {
//     background-color: transparent;
//     border: none !important;
//     font-size: 2em;
//     height: 2em;
//     text-align: center;
//     box-shadow: none !important;
//   }
// }

.cg-btn {
  color: rgba(0, 0, 0, 0.8);
  background-color: #34997C;
}


@media only screen and (min-width: 768px) {
  .call-to-action {
    margin-top: 3em;
    text-align: justify;

    p { font-size: 1.7em; }
  }


  .cg-btn {
    width: 300px;
    height: 75px;
    font-size: 1.5em;
  }
}

// /* For mobile devices */
@media only screen and (max-width: 767px) {
    .call-to-action {
      margin: 3em;

      p { font-size: 1.7em; }
    }

  .cg-btn {
    width: 300px;
    height: 75px;
    font-size: 1.5em;
  }
}


@media only screen and (max-width: 767px) {
    //     // TODO: Optimize images for fastest loads.
    //     /* The file size should be much smaller
    //      * to improve page load speed on mobile internet connections */


    .call-to-action {
      margin: 3em;

      p { font-size: 1.2em; }
    }

    .cg-btn {
      width: 200px;
      height: 50px;
      font-size: 1.2em;
    }
}

// /* Media Queries */
@media only screen and (max-width: 340px) {
  //     // TODO: Optimize images for fastest loads.
  //     /* The file size should be much smaller
  //      * to improve page load speed on mobile internet connections */
  .call-to-action {
    margin: 1em;

    p { font-size: 1em; }
  }

  .cg-btn {
    width: 150px;
    height: 45px;
    font-size: .8em;
  }

}