//// Header

.header-image {
  height: 350px;
  overflow: hidden;
  z-index: -3;
  background-size: cover;
  position: relative;
  background-image: url("/img/banner_web.jpg"); /* fallback */
  background-image: -webkit-gradient(linear, left top, left bottom, from($background-color), to($background-color2)), url("/img/banner_web.jpg"); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $background-color, $background-color2), url("/img/banner_web.jpg"); /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, $background-color, $background-color2), url("/img/banner_web.jpg"); /* FF3.6+ */
  background-image: -o-linear-gradient(top, $background-color, $background-color2), url("/img/banner_web.jpg"); /* Opera 11.10+ */
  background-image: linear-gradient(to bottom, $background-color, $background-color2), url("/img/banner_web.jpg"); /* W3C */
}

.content {
  position: relative;
  top: -330px;
}

.logo {
  position: relative;
  top: -350px;
  z-index: 5;
  margin-top: 2em;

  .plant {
    max-width: 150px;
  }

  .commongarden {
    color: #ffffff;
  }
}

//// General

body {
    background-color: #fff;
    font-family: $base-font-family;
    font-weight: 300;
}

//// Forms
input {
  &.transparent-form {
    background-color: transparent;
    border: none !important;
    font-size: 2em;
    height: 2em;
    text-align: center;
    box-shadow: none !important;
  }
}

.cg-btn {
  color: rgba(0, 0, 0, 0.8);
  background-color: #34997C;
}


@media only screen and (min-width: 768px) {
  .call-to-action {
    margin: 3em;
    text-align: justify;

    p { font-size: 1.7em; }
  }


  .cg-btn {
    width: 300px;
    height: 75px;
    font-size: 1.5em;
  }
}

// /* For mobile devices */
@media only screen and (max-width: 767px) {
    .call-to-action {
      margin: 3em;

      p { font-size: 1.7em; }
    }

  .cg-btn {
    width: 300px;
    height: 75px;
    font-size: 1.5em;
  }
}


@media only screen and (max-width: 767px) {
    //     // TODO: Optimize images for fastest loads.
    //     /* The file size should be much smaller
    //      * to improve page load speed on mobile internet connections */


    .call-to-action {
      margin: 3em;

      p { font-size: 1.5em; }
    }

    .cg-btn {
      width: 200px;
      height: 50px;
      font-size: 1.2em;
    }
}

// /* Media Queries */
@media only screen and (max-width: 340px) {
  //     // TODO: Optimize images for fastest loads.
  //     /* The file size should be much smaller
  //      * to improve page load speed on mobile internet connections */
  .call-to-action {
    margin: 1em;

    p { font-size: 1em; }
  }

  .cg-btn {
    width: 100px;
    height: 35px;
    font-size: .75em;
  }

}