//// Header
// 0899a0

* {
  font-family: 'Muli', sans-serif;
}


#mc_embed_signup {
  padding-top: 7px;
}

.small {
  font-size: 0.7em !important;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
}


ul {
  &.nav {
    margin-left: 0;
  }
}

#email-signup {
  padding-top: 30px
}

.header-image {
  height: 400px;
  overflow: hidden;
  z-index: -3;
  background-size: cover;
  position: relative;
  background-image: url("/img/bg1.jpg"); /* fallback */
  background-image: -webkit-gradient(linear, left top, left bottom, from($background-color), to($background-color2)), url("/img/bg1.jpg"); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $background-color, $background-color2), url("/img/bg1.jpg"); /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, $background-color, $background-color2), url("/img/bg1.jpg"); /* FF3.6+ */
  background-image: -o-linear-gradient(top, $background-color, $background-color2), url("/img/bg1.jpg"); /* Opera 11.10+ */
  background-image: linear-gradient(to bottom, $background-color, $background-color2), url("/img/bg1.jpg"); /* W3C */
  background-position: 40% 20%;
}

.overview {
  .row {
    margin-top: 2.5em;
  }
}

.content {
  position: relative;
  top: -389px;
}

.logo {
  position: relative;
  top: -400px;
  z-index: 5;
  margin-top: 2em;
  margin-bottom: 2em;

  .plant {
    max-width: 150px;
  }

  .commongarden {
    color: #ffffff;
  }
}

//// General

body {
    background-color: #fff;
    font-family: $base-font-family;
    font-weight: 300;
}

//// Forms
input {
  &.cg-input {
    font-size: 1.9em;
    height: 1.5em;
  }
}

.cg-btn {
  background-color: #34997C;
}

.cg-color {
  background-color: #34997C;
}


.built-with {
  img {
    max-width: 200px;
    padding: 10px;
    opacity: 0.8;
  }
}


// /* Media Queries */
@media only screen and (min-width: 768px) {
  .call-to-action {
    margin-top: 4em;
    text-align: justify;
    margin-bottom: 4em;

    p { font-size: 1.7em; }
  }
}

// /* For mobile devices */
@media only screen and (max-width: 767px) {
    .call-to-action {
      margin: 3em;

      p { font-size: 1.7em; }
    }

    //// Forms
    input {
      &.cg-input {
        font-size: 1em;
        height: 100%;
      }
    }

    .cg-btn {
      height: 3em;
      font-size: 12px;
    }

}

@media only screen and (max-width: 340px) {
  .call-to-action {
    margin: 1em;

    p { font-size: 1em; }
  }
}
